[Desktop Entry]
Encoding=UTF-8
Categories=Nav
Exec=com-jobcher-nav
Icon=com-jobcher-nav
Name=com-jobcher-nav
Name[zh_CN]=导航
StartupNotify=true
Terminal=false
Type=Application
